{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
		"ecmaVersion": 6
  },
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "arrow-parens": 0,
    "import/prefer-default-export": 0
  }
}
